<div #toRead>
<div class="m-5">

</div>
<div class="container m-auto">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/assets/img/im10.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">BIENVENIDO</h5>
    <p class="card-text"> seleccione una opcion</p>
    <button (click)="ruta()" class="btn-block btn btn-primary">Altas</button>
    <hr>
      <button (click)="logout()" class=" btn-block btn btn-danger">Salir</button>

  </div>
</div>
</div>
</div>
<app-speak [toRead]="toRead.textContent"></app-speak>
