<div class="m-5">

</div>
<div class="container m-auto">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://i.pinimg.com/originals/b3/cb/d6/b3cbd6d347e8c3dd7cae5522a8eb6117.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Inicio de Sesión Exitosa</h5>
    <p class="card-text"> Presiona el botón para continuar</p>
    <button (click)="ruta()" class="btn-block btn btn-primary">Sistema</button>
    <hr>
      <button (click)="logout()" class=" btn-block btn btn-danger">Salir</button>

  </div>
</div>
</div>

