<div class="container mt-5">
    <h2>Formulario de contacto</h2>
    <form  #form="ngForm">
    <div class="form-group">
    <label>Nombre</label>
    <input #nom type="text" class="form-control" name="nombre" ngModel>
    </div>
    <div class="form-group">
    <label>Asunto</label>
    <input #asunto type="text" class="form-control" name="asunto" ngModel>
    </div>
    <div class="form-group">
    <label>E-mail</label>
    <input #email type="email" class="form-control" name="email" ngModel>
    </div>
    <div class="form-group">
    <label>Mensaje</label>
    <textarea #mes class="form-control" cols="30" rows="6" name="mensaje" ngModel></textarea>
    </div>
    <button (click)="enviar(nom,asunto,email,mes)" type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
